/*本文
    width 横幅
    margin 端からの幅
    background-color 背景の色
    padding コンテンツの周りに余白を確保する
    border 今回の場合は、bodyのすべての側面に境界線を描く
*/
body {
    width: 600px;
    margin: 0 auto;
    background-color: #304A63;
    padding: 0 20px 20px 20px;
    border: 1px solid black;
  }

/*
    text-align: center; テキストをデバイスの中央に表示する(rightにすれば右側に)
    text-shadow: 水平ずらすpx,垂直ずらすpx,ぼかしpx
*/
h1 {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
  }

/*
・画像はインライン要素なので、marginなどの余白を確保するものは使えない。
・ブロックレベルの動作を指定する必要がある。
    width: ; 画像が大きい場合、に横幅を指定することができる。
*/
img {
    display: block;
    margin: 0 auto;
    width: 200px;
  }
